<odoo>
    <data>
        <menuitem id="emp_root_menu"
                  name="EMPLOYEE MANAGER"
                  sequence="10"/>

        <menuitem id="employee_menu"
                  name="Employee"
                  parent="emp_root_menu"
                  action="action_employee_program"
                  sequence="1"/>

        <menuitem id="benefits_management_menu"
                  name="Benefits management"
                  parent="emp_root_menu"
                  sequence="2"/>

        <menuitem id="medical_program_menu"
                  name="Medical program"
                  parent="benefits_management_menu"
                  action="action_medical_program"
                  sequence="3"/>

        <menuitem id="social_insurance_menu"
                  name="Social insurance"
                  parent="benefits_management_menu"
                  action="action_social_insurance"
                  sequence="4"/>


    </data>
</odoo>